@model Churras.ViewModels.ChurrasViewModel
@{
    ViewBag.Title = "Home Page";
}

<h1>@Model.Heading</h1>
<ul class="churras voffset40">
    @foreach (var churras in Model.UpcommingChurras)
    {
        @Html.ValidationSummary(true)


        <li>
            <div class="date">
                <div class="month">
                    @churras.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @churras.DateTime.ToString("d ")
                </div>
            </div>
            <div class="details">
                <span class="artist">
                    @churras.Organizador.Name
                </span>
                <span class="genre">
                    @churras.Descricao
                </span>

                <!--<button data-churras-id="@churras.Id" class="btn btn-default btn-sm pull-right js-toggle-attendance">Vou?</button>-->
                <div class="actions">
                    <a href="@Url.Action("Participar", "ParticipanteChurras", new {churrasId = churras.Id})">
                        Participar
                    </a>
                    <a href="@Url.Action("Detalhes", "Churras", new {churrasId = churras.Id})">
                        Detalhes
                    </a>
                </div>
            </div>
        </li>
    }
</ul>



@section scripts
{
    <script>
        $(document).ready(function() {
            $(".js-toggle-attendance").click(function (e) {
                var button = $(e.target);
                $.post("api/participanteChurras", {churrasId:button.attr("data-churras-id")})
                    .done(function() {
                        button.removeClass("btn-default")
                            .addClass("btn-info")
                            .text("Vou");
                    }).fail(function () {
                        button.removeClass("btn-default")
                            .removeClass("btn-info")
                        .addClass("btn-danger");

                        alert('Você já está paticipando do Churras');
                    });
            });
           
        });
    </script>
}

